.form {
  text-align: right;
  background-color: white;

  button {
    font: inherit;
    cursor: pointer;
    background-color: #e1837d;
    border: 0.1rem solid #cc535e;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;

    &:hover,
    :active {
      background-color: #f6aba6;
      border: 0.1rem solid #e1837d;
    }
  }
}
