@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Nanum+Brush+Script&family=Yeon+Sung&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Gothic A1", sans-serif;
  // font-family: "Nanum Brush Script", cursive;
  overscroll-behavior: none;
  // font-family: "Yeon Sung", cursive;
}

html,
body,
div,
span,
h1,
h2,
h3,
img,
form,
label,
article,
aside,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #333e50;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
